<h1 class="fw-bold mb-4">Edit Article</h1>

<%= render "form", article: @article %>

<%= link_to "Back", articles_path, class: "btn btn-secondary mt-3",
            onclick: "return confirm('Are you sure you want to cancel the edition?');" %>