<h1>Edit article</h1>

<%= render 'form' %>

<%= link_to "Cancel and return to listing",
            articles_path,
            onclick: "return confirm('Are you sure you want to cancel the edition?');" %>