/* Importe o Bootstrap primeiro */
@import "~bootstrap/scss/bootstrap";

/* Importe Bootstrap Icons */
@import "~bootstrap-icons/font/bootstrap-icons.css";

/* Variáveis e estilos base do seu projeto */
@import "base/variaveis";

/* Estilos específicos */
.card {
  border-radius: 0.75rem;
}