/* Importe o Bootstrap no topo */
@import "bootstrap/scss/bootstrap";

/* Garante que outros arquivos .scss e .css no diretório sejam carregados */
@import "base/variaveis";
/* ou use a convenção antiga (se necessário):
 *= require_tree .
 *= require_self
*/

.card {
  border-radius: 0.75rem;
}