
.jumbotron {
  padding: 4rem 2rem;
  background-color: $primary-color;
  color: white;
  text-align: center;
  border-radius: 0.5rem;

  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.25rem;
  }
}