<div class="p-5 mb-4 bg-body-secondary rounded-3 shadow-sm">
  <div class="container-fluid py-5">
    <h1 class="display-4 fw-bold">Welcome to AlphaBlog</h1>
    <p class="col-md-8 fs-5 mt-3">
      A simple blog platform built with Ruby on Rails 8, Turbo, Bootstrap e suporte a tema Light/Dark/Auto.
    </p>

    <%= link_to "View Articles", articles_path, class: "btn btn-primary btn-lg mt-3" %>
  </div>
</div>
