<div class="d-flex gap-2">
  <%= form_with url: articles_path,
                method: :get,
                data: { turbo_frame: "articles_list" },
                class: "d-flex" do |f| %>

    <%= f.search_field :q,
          value: params[:q],
          placeholder: "Search articles...",
          class: "form-control",
          autofocus: true %>

  <% end %>

  <%= link_to "New Article",
        new_article_path,
        class: "btn btn-success" %>
</div>

<%= render "articles/list", articles: articles %>
