<nav class="navbar navbar-expand-lg bg-body-tertiary mb-4">
  <div class="container-fluid">

    <!-- Logo / Brand -->
    <%= link_to "AlphaBlog", root_path, class: "navbar-brand" %>

    <!-- Hamburger para mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">

        <!-- Home -->
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>

        <!-- Articles -->
        <li class="nav-item">
          <%= link_to "Articles", articles_path, class: "nav-link" %>
        </li>

        <!-- Theme Switcher -->
        <button
          class="btn btn-outline-secondary btn-sm dropdown-toggle d-flex align-items-center justify-content-center"
          id="themeMenuButton"
          data-bs-toggle="dropdown"
          aria-expanded="false">
          ⚪
        </button>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="themeMenuButton" data-controller="theme">
            <li>
              <button class="dropdown-item theme-option" data-theme="light">
                ☀️ Light
              </button>
            </li>
            <li>
              <button class="dropdown-item theme-option" data-theme="dark">
                🌑 Dark
              </button>
            </li>
            <li>
              <button class="dropdown-item theme-option" data-theme="auto">
                ⚪ Auto
              </button>
            </li>
          </ul>
        </li>

      </ul>
    </div>

  </div>
</nav>
